<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353061210823-j0smq24h60e4s4igog73bnsrvudibbs9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353061210823-j0smq24h60e4s4igog73bnsrvudibbs9</string>
	<key>API_KEY</key>
	<string>AIzaSyCn-u-3A3rhr-A8lF3CRtA0mgPZNYyWp-0</string>
	<key>GCM_SENDER_ID</key>
	<string>353061210823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.team3FlutterProjectSelfDiagnosisApp</string>
	<key>PROJECT_ID</key>
	<string>team-flutter-project</string>
	<key>STORAGE_BUCKET</key>
	<string>team-flutter-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353061210823:ios:291087983db6e7410fcce2</string>
</dict>
</plist>